@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@400;500;600;700&display=swap');


/*General Settings*/
* {
    padding: 0;
    margin: 0;
    color: white;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Gantari, sans-serif;
}
body {
    /* Created with https://www.css-gradient.com */
background-color: #507DBC;
}
section {
    margin: 0 50px;
}
@media (max-width: 600px) {
    section{
        margin: 0 25px;
    }
}

.wrapper {
    text-align: center;
}
.wrapper h2 {
    color: #04080f;
    font-size: 40px;
}
.wrapper p {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 20px;
    color: #DAE3E5;
}

/*Header Settings*/

#header {
    background-color: #A1C6EA;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
#nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-right: 35px;
}
#header-img {
    height: 35px;
}

.list {
    display: flex;
    gap: 25px;
}
.nav-link {
    color: white;
    font-weight: 600;
    color: #04080f;
}
#toggler, 
#nav-bar label {
    display: none;
}
.fa-solid {
    color: #04080f;
}

@media only screen and (max-width: 800px) {
    #menu {
        width: 100%;
        max-height: 0%;
        overflow: hidden;
        display: none;
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        
    }
    #nav-bar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
}
@media (max-width: 600px) {
    #header-img {
        height: 30px;
    }
}

/*home section*/

#Home {
    padding: 200px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.hero h1 {
    font-size: 50px;
    font-weight: bold;
    color: #04080f;
}
.hero p {
    padding-top: 20px;
    max-width: 650px;
    color: #DAE3E5;
}
.hero-img {
    max-width: 500px;
    max-height: 500px;
}
@media only screen and (max-width: 600px) {
    .hero h1 {
        font-size: 25px;
    }
    .hero p {
        text-align: justify;
    }
    .hero-img {
        max-width: 300px;
        margin: 0 auto;
    }
}
@media only screen and (max-width:600px) and (max-height: 800px) {
    #Home {
        padding: 150px 0;
    }
}

/*Feature section*/
#Features {
    padding-bottom: 100px;
}
.feature-container {
    margin: 30px 0 50px 0;
    display: flex;
    flex-direction: column;
}
.feature {
    padding: 10px;
    margin: 10px 50px;
    border-radius: 10px;
    text-align: center;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,0.4962359943977591) 0%, rgba(148,187,233,0.5046393557422969) 100%);
}
.feature  h3 {
    padding: 30px 0;
    font-size: 25px;
    color: #04080f;
}
.feature p {
    padding-bottom: 30px;
}

@media only screen  and (max-width: 600px) {
    .feature {
        margin: 10px 0;
    }
}

/* How-it-work section*/
#How-It-Work {
    padding-bottom: 50px;
}
.vid-container {
    position: relative; 
    margin: 100px 20px;
    padding-bottom: 50.25%; 
    padding-top: 30px; height: 0; 
    overflow: hidden;
}
#video {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
@media only screen  and (max-width: 600px) {
    .vid-container {
        position: relative; 
        margin: 100px 0;
    }
}
/*Pricing section*/

.price-container {
    margin: 30px 20px 100px 20px;
    display: flex;
    flex-wrap: wrap;
}
.box {
    position: relative;
    bottom: -50px;
    padding: 100px 10px;
    flex: 1 1 150px;
    margin: 10px 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #e67f0d;
}
.best {
    background-color: #FFAE03;
}
.box:hover {
    position: relative;
    top: 25px;
}
@media only screen and (max-width: 600px) {
    .box:hover {
        top: unset;
    }
}
.box h3 {
    color: #04080f;
}
.price {
    color: #04080f;
    padding: 25px 0;
    font-size: 30px;
}
.box li {
    color: #04080f;
}
.box input {
    position: relative;
    top: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #04080f;
}
/*footer settings*/

.form-wrapper {
    width: 100%;
    background-color: #04080f;
    padding: 50px 0 15px 0;

}
.form-wrapper h1 {
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-left: 20px;
}
#email {
    height: 30px;
    width: 15rem;
    border-style: none;
    padding: 5px;
    color: #04080f;
    margin-left: 20px;
}
#submit {
    border-style: none;
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
    margin-left: 20px;
    background-color: #FFAE03;
    color: #04080f;
    font-weight: bold;
    margin-left: 20px;
}
.copyright {
    background-color: #04080f;
    padding-top: 50px;
    text-align: center;
}