* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
#header {
    position: fixed;
    width: 100%;
}
#nav-bar {
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

}
#header-img {
    height: 35px;
    margin-right: 50px;
}
.list {
    display: flex;
    gap: 25px;
}
#toggler, 
#nav-bar label {
    display: none;
}

@media only screen and (max-width: 800px) {
    #menu {
        width: 100%;
        max-height: 0%;
        overflow: hidden;
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        
    }
    #nav-bar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
}
