@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@400;500;600;700&display=swap');


/*General Settings*/
* {
    padding: 0;
    margin: 0;
    color: white;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Gantari, sans-serif;
}
body {
    background-color: black;
}
section {
    margin: 0 50px;
}
@media (max-width: 600px) {
    section{
        margin: 0 25px;
    }
}
/*Header Settings*/

#header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
#nav-bar {
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
#header-img {
    height: 35px;
}
.list {
    display: flex;
    gap: 25px;
}
.nav-link {
    color: white;
    font-weight: 600;
    color: black;
;
}
#toggler, 
#nav-bar label {
    display: none;
}
.fa-solid {
    color: black;
}

@media only screen and (max-width: 800px) {
    #menu {
        width: 100%;
        max-height: 0%;
        overflow: hidden;
        display: none;
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        
    }
    #nav-bar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
}
@media (max-width: 600px) {
    #header-img {
        height: 30px;
    }
}

/*home section*/

#Home {
    padding: 220px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.hero h1 {
    font-size: 45px;
    font-weight: 600;
}
.hero p {
    max-width: 650px;
    color: antiquewhite;
}
.hero-img {
    max-width: 700px;
    padding-top: 50px;
}
@media only screen and (max-width: 600px) {
    .hero h1 {
        font-size: 25px;
    }
    .hero p {
        text-align: justify;
    }
    .hero-img {
        max-width: 300px;
        margin: 0 auto;
    }
}
@media only screen and (max-width:600px) and (max-height: 800px) {
    #Home {
        padding: 150px 0;
    }
}

/*Feature section*/
.wrapper {
    text-align: center;
}
.wrapper p {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 20px;
}
.container {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}
.feature {
    padding: 25px;
    max-height: 300px;
    flex: 1 1 150px;
    margin: 5px 5px;
    text-align: center;
    background-color: antiquewhite;
}


