* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header {
    background-color: blue;
    width: 100%;
    padding: 0 20px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

#header-img {
    height: 35px;
}
#nav-bar {
    position: absolute;
    right: 20px;
    
}
ul {
    list-style: none;
}
li {
    float: left;
}
li a {
    display: block;
    padding: 0 16px;
    margin: 0 10px;
    text-decoration: none;
    color: white;   
}